<a href="https://colab.research.google.com/github/kenanmorani/Machine_Learning_idu/blob/main/Hopsital-Data-Project/hospital_data_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install turicreate

Collecting turicreate
  Downloading https://files.pythonhosted.org/packages/ea/63/00ef7586c56a1aa48a7acabe20e1118cd82794785a56137e190fc6fb049c/turicreate-6.4.1-cp36-cp36m-manylinux1_x86_64.whl (92.0MB)
     |████████████████████████████████| 92.0MB 47kB/s
Collecting prettytable==0.7.2
  Downloading https://files.pythonhosted.org/packages/ef/30/4b0746848746ed5941f052479e7c23d2b56d174b82f4fd34a25e389831f5/prettytable-0.7.2.tar.bz2
Requirement already satisfied: pandas>=0.23.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.1.5)
Collecting resampy==0.2.1
  Downloading https://files.pythonhosted.org/packages/14/b6/66a06d85474190b50aee1a6c09cdc95bb405ac47338b27e9b21409da1760/resampy-0.2.1.tar.gz (322kB)
     |████████████████████████████████| 327kB 49.4MB/s
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.15.0)
Requirement already satisfied: requests>=2.9.1 in /usr/local/lib/python3.6/dist-packages (from turicreate) (2.23.0)
Collecting coremltools==3.3
  Downloading https://files.pythonhosted.org/packages/77/19/611916d1ef326d38857d93af5ba184f6ad7491642e0fa4f9082e7d82f034/coremltools-3.3-cp36-none-manylinux1_x86_64.whl (3.4MB)
     |████████████████████████████████| 3.4MB 42.6MB/s
Requirement already satisfied: numba<0.51.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.48.0)
Requirement already satisfied: decorator>=4.0.9 in /usr/local/lib/python3.6/dist-packages (from turicreate) (4.4.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.4.1)
Collecting tensorflow<2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/87/5e/254f5baeb331a7c9065b796d786cd07c5db79f2d76a496b74891a6521e25/tensorflow-2.0.3-cp36-cp36m-manylinux2010_x86_64.whl (86.4MB)
     |████████████████████████████████| 86.4MB 60kB/s
Requirement already satisfied: pillow>=5.2.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (7.0.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.19.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2.8.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2020.12.5)
Requirement already satisfied: protobuf>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from coremltools==3.3->turicreate) (3.12.4)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba<0.51.0->turicreate) (0.31.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba<0.51.0->turicreate) (51.0.0)
Collecting tensorboard<2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/76/54/99b9d5d52d5cb732f099baaaf7740403e83fe6b0cedde940fabd2b13d75a/tensorboard-2.0.2-py3-none-any.whl (3.8MB)
     |████████████████████████████████| 3.8MB 39.1MB/s
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (1.1.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (3.3.0)
Collecting keras-applications>=1.0.8
  Downloading https://files.pythonhosted.org/packages/71/e3/19762fdfc62877ae9102edf6342d71b28fbfd9dea3d2f96a882ce099b03f/Keras_Applications-1.0.8-py3-none-any.whl (50kB)
     |████████████████████████████████| 51kB 5.9MB/s
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (1.1.2)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (0.36.2)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (0.8.1)
Collecting gast==0.2.2
  Downloading https://files.pythonhosted.org/packages/4e/35/11749bf99b2d4e3cceb4d55ca22590b0d7c2c62b9de38ac4a4a7f4687421/gast-0.2.2.tar.gz
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (0.10.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (1.32.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (1.12.1)
Collecting tensorflow-estimator<2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/fc/08/8b927337b7019c374719145d1dceba21a8bb909b93b1ad6f8fb7d22c1ca1/tensorflow_estimator-2.0.1-py2.py3-none-any.whl (449kB)
     |████████████████████████████████| 450kB 36.2MB/s
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (0.2.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (3.3.3)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (0.4.2)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (1.17.2)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow<2.1.0,>=2.0.0->turicreate) (2.10.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (3.3.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (1.3.0)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (4.6)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (4.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (0.2.8)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (3.4.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (3.1.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<5,>=3.1.4; python_version >= "3"->google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (0.4.8)
Building wheels for collected packages: prettytable, resampy, gast
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-cp36-none-any.whl size=13702 sha256=957b34e987298dd2ff4558394390b08e9c218726e4bac7ffaf12d8219612aac7
  Stored in directory: /root/.cache/pip/wheels/80/34/1c/3967380d9676d162cb59513bd9dc862d0584e045a162095606
  Building wheel for resampy (setup.py) ... done
  Created wheel for resampy: filename=resampy-0.2.1-cp36-none-any.whl size=320849 sha256=67f60540f578202b79aec5263ed29676bd121ed7a3e5ce5cc7e1494c5dbfc7dd
  Stored in directory: /root/.cache/pip/wheels/ff/4f/ed/2e6c676c23efe5394bb40ade50662e90eb46e29b48324c5f9b
  Building wheel for gast (setup.py) ... done
  Created wheel for gast: filename=gast-0.2.2-cp36-none-any.whl size=7540 sha256=ca3c217049b32e9ac2c3689867e7ab1330fbefdb165607f2e0d51423bb13abd0
  Stored in directory: /root/.cache/pip/wheels/5c/2e/7e/a1d4d4fcebe6c381f378ce7743a3ced3699feb89bcfbdadadd
Successfully built prettytable resampy gast
ERROR: tensorflow 2.0.3 has requirement numpy<1.19.0,>=1.16.0, but you'll have numpy 1.19.4 which is incompatible.
ERROR: tensorflow-probability 0.11.0 has requirement gast>=0.3.2, but you'll have gast 0.2.2 which is incompatible.
Installing collected packages: prettytable, resampy, coremltools, tensorboard, keras-applications, gast, tensorflow-estimator, tensorflow, turicreate
  Found existing installation: prettytable 2.0.0
    Uninstalling prettytable-2.0.0:
      Successfully uninstalled prettytable-2.0.0
  Found existing installation: resampy 0.2.2
    Uninstalling resampy-0.2.2:
      Successfully uninstalled resampy-0.2.2
  Found existing installation: tensorboard 2.4.0
    Uninstalling tensorboard-2.4.0:
      Successfully uninstalled tensorboard-2.4.0
  Found existing installation: gast 0.3.3
    Uninstalling gast-0.3.3:
      Successfully uninstalled gast-0.3.3
  Found existing installation: tensorflow-estimator 2.4.0
    Uninstalling tensorflow-estimator-2.4.0:
      Successfully uninstalled tensorflow-estimator-2.4.0
  Found existing installation: tensorflow 2.4.0
    Uninstalling tensorflow-2.4.0:
      Successfully uninstalled tensorflow-2.4.0
Successfully installed coremltools-3.3 gast-0.2.2 keras-applications-1.0.8 prettytable-0.7.2 resampy-0.2.1 tensorboard-2.0.2 tensorflow-2.0.3 tensorflow-estimator-2.0.1 turicreate-6.4.1

In [2]:
import pandas as pd
import turicreate

In [38]:
data = turicreate.SFrame.read_csv('bank.csv')
Hospital_data = turicreate.SFrame.read_csv('hospital.csv')

Read 100 lines. Lines per second: 2269.07

Finished parsing file /content/bank.csv

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Parsing completed. Parsed 100 lines in 0.045234 secs.

Finished parsing file /content/bank.csv

Parsing completed. Parsed 4521 lines in 0.036857 secs.

Finished parsing file /content/hospital.csv

Parsing completed. Parsed 100 lines in 0.035934 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,int,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /content/hospital.csv

Parsing completed. Parsed 1099 lines in 0.02141 secs.

In [39]:
Hospital_data.head()

Columns:
	Patient identifier	int
	Is the patient alive or not	str
	Date of death	str
	Sex	str
	Date of birth	str
	PCI is happened or not	str
	Reanimation before the hospitalization	str
	Cardiogen shock at hospitalization	str
	Myocardialis.infarctus in medical history	str
	Health failure in medical history	str
	Hypertonia in medical history or during the treatment	str
	Stroke in medical history	str
	Diabetes in medical history	str
	Peripherial vascular disease in medical history	str
	Hyperlipidaemia in medical history	str
	Smoker in medical history	str
	Creatinin level	str
	Diagnosis	str
	Treatment identifier	int
	Date of hospitalization	str

Rows: 10

Data:
+--------------------+-----------------------------+---------------+--------+
| Patient identifier | Is the patient alive or not | Date of death |  Sex   |
+--------------------+-----------------------------+---------------+--------+
|        9695        |             Yes             |    No data    | Female |
|        9699        |             Yes             |    No data    | Female |
|        9700        |              No             | 18-02-14 0:00 |  Male  |
|        9701        |              No             | 15-01-15 0:00 |  Male  |
|        9795        |             Yes             |    No data    |  Male  |
|        9797        |              No             | 29-12-15 0:00 |  Male  |
|        9799        |              No             | 25-05-14 0:00 |  Male  |
|        9800        |             Yes             |    No data    | Female |
|        9801        |             Yes             |    No data    | Female |
|        9801        |             Yes             |    No data    | Female |
+--------------------+-----------------------------+---------------+--------+
+---------------+------------------------+-------------------------------+
| Date of birth | PCI is happened or not | Reanimation before the hos... |
+---------------+------------------------+-------------------------------+
| 21-06-60 0:00 |          Yes           |            No data            |
| 09-08-64 0:00 |           No           |            No data            |
| 27-10-23 0:00 |           No           |            No data            |
| 09-05-28 0:00 |           No           |            No data            |
| 14-12-53 0:00 |          Yes           |            No data            |
| 14-08-58 0:00 |          Yes           |            No data            |
| 06-01-43 0:00 |          Yes           |               No              |
| 25-07-47 0:00 |           No           |            No data            |
| 26-04-65 0:00 |           No           |               No              |
| 26-04-65 0:00 |           No           |               No              |
+---------------+------------------------+-------------------------------+
+-------------------------------+-------------------------------+-------------------------------+
| Cardiogen shock at hospita... | Myocardialis.infarctus in ... | Health failure in medical ... |
+-------------------------------+-------------------------------+-------------------------------+
|            No data            |               No              |            No data            |
|            No data            |               No              |            No data            |
|            No data            |               No              |            No data            |
|            No data            |               No              |            No data            |
|            No data            |              Yes              |            No data            |
|            No data            |               No              |            No data            |
|               No              |               No              |               No              |
|            No data            |               No              |            No data            |
|            No data            |               No              |               No              |
|            No data            |               No              |               No              |
+-------------------------------+-------------------------------+-------------------------------+
+-------------------------------+---------------------------+-----------------------------+
| Hypertonia in medical hist... | Stroke in medical history | Diabetes in medical history |
+-------------------------------+---------------------------+-----------------------------+
|               No              |             No            |              No             |
|               No              |             No            |              No             |
|              Yes              |            Yes            |             Yes             |
|              Yes              |             No            |             Yes             |
|              Yes              |             No            |             Yes             |
|              Yes              |             No            |             Yes             |
|              Yes              |             No            |             Yes             |
|            No data            |          No data          |           No data           |
|               No              |             No            |              No             |
|               No              |             No            |              No             |
+-------------------------------+---------------------------+-----------------------------+
+-------------------------------+-------------------------------+---------------------------+
| Peripherial vascular disea... | Hyperlipidaemia in medical... | Smoker in medical history |
+-------------------------------+-------------------------------+---------------------------+
|               No              |            No data            |           Smoker          |
|               No              |            No data            |          No data          |
|              Yes              |            No data            |          No data          |
|               No              |            No data            |          No data          |
|               No              |            No data            |        Never smoked       |
|               No              |            No data            |           Smoker          |
|              Yes              |               No              |           Smoker          |
|            No data            |            No data            |           Smoker          |
|               No              |               No              |          No data          |
|               No              |               No              |          No data          |
+-------------------------------+-------------------------------+---------------------------+
+-----------------+-----------+----------------------+-------------------------+
| Creatinin level | Diagnosis | Treatment identifier | Date of hospitalization |
+-----------------+-----------+----------------------+-------------------------+
|     No data     |   STEMI   |        10048         |      28-01-14 15:48     |
|     No data     |   STEMI   |        10052         |      03-01-14 14:30     |
|     No data     |   NSTEMI  |        10053         |      16-02-14 13:00     |
|     No data     |   STEMI   |        10054         |      09-01-14 10:18     |
|     No data     |   NSTEMI  |        10153         |      07-01-14 17:26     |
|     No data     |   STEMI   |        10155         |      15-01-14 16:48     |
|     No data     |   STEMI   |        10157         |      12-02-14 15:34     |
|     No data     |   NSTEMI  |        10158         |      21-01-14 13:05     |
|     No data     |   STEMI   |        19578         |      04-01-14 19:13     |
|     No data     |   STEMI   |        19578         |      04-01-14 19:13     |
+-----------------+-----------+----------------------+-------------------------+
[10 rows x 20 columns]

In [37]:
# Uploading the csv file 
# Using sep is necessary to show the table well organized
#bank_data = pd.read_csv('bank.csv', sep=';') 
#bank_data

      age            job  marital  education  ... pdays  previous poutcome   y
0      30     unemployed  married    primary  ...    -1         0  unknown  no
1      33       services  married  secondary  ...   339         4  failure  no
2      35     management   single   tertiary  ...   330         1  failure  no
3      30     management  married   tertiary  ...    -1         0  unknown  no
4      59    blue-collar  married  secondary  ...    -1         0  unknown  no
...   ...            ...      ...        ...  ...   ...       ...      ...  ..
4516   33       services  married  secondary  ...    -1         0  unknown  no
4517   57  self-employed  married   tertiary  ...    -1         0  unknown  no
4518   57     technician  married  secondary  ...    -1         0  unknown  no
4519   28    blue-collar  married  secondary  ...   211         3    other  no
4520   44   entrepreneur   single   tertiary  ...   249         7    other  no

[4521 rows x 17 columns]

In [35]:
# Converting the file to pandas' dataframe type
#bank_data_frame = pd.DataFrame(bank_data)
#bank_data_frame

      age            job  marital  education  ... pdays  previous poutcome   y
0      30     unemployed  married    primary  ...    -1         0  unknown  no
1      33       services  married  secondary  ...   339         4  failure  no
2      35     management   single   tertiary  ...   330         1  failure  no
3      30     management  married   tertiary  ...    -1         0  unknown  no
4      59    blue-collar  married  secondary  ...    -1         0  unknown  no
...   ...            ...      ...        ...  ...   ...       ...      ...  ..
4516   33       services  married  secondary  ...    -1         0  unknown  no
4517   57  self-employed  married   tertiary  ...    -1         0  unknown  no
4518   57     technician  married  secondary  ...    -1         0  unknown  no
4519   28    blue-collar  married  secondary  ...   211         3    other  no
4520   44   entrepreneur   single   tertiary  ...   249         7    other  no

[4521 rows x 17 columns]

In [36]:
#bank_data_frame.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]